{
    "version": 2,
    "configurePresets": [
      {
        "name": "default-user",
        "inherits": "vcpkg",
        "environment": {
          "VCPKG_ROOT": "<path to vcpkg>"
        }
      }
    ]
  }